// Colors
$accent: #2e735c;
$accent_alt: #00d4ff;
$highlight: #6bddb3;
$highlight_alt: #486784;
$primary: #e3e4e2;
$primary_alt: #21252d;
$secondary: #ffffff;
$secondary_alt: #121a21;
$text: #1e2422;
$text_alt: #f9fbff;
$empty: #bdbfbb;
$outline: #DEDEDE;