.footer {
    background-color: $secondary;
    bottom: 0;
    display: flex;
    flex: 0;
    flex-direction: column;
    left: 0;
    margin-top: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}