.navside {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 240px;
    z-index: 200;
}

.navside ul {
    height: 100%;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navside li {
    margin: 0.5rem 0;
}

.navside a {
    color: #521751;
    text-decoration: none;
}

.navside a:hover,
.navside a:active {
    color: tomato;
}